.trang-ng-nhp {
  background-color: #ffffff;
  width: 100%;
  min-width: 2667px;
  min-height: 2314px;
  position: relative;
}

.trang-ng-nhp .image {
  top: 88px;
  left: 35px;
  width: 136px;
  height: 89px;
  position: absolute;
  object-fit: cover;
}

.trang-ng-nhp .text-wrapper {
  position: absolute;
  top: 214px;
  left: 714px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .div {
  position: absolute;
  top: 222px;
  left: 1827px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-2 {
  position: absolute;
  top: 218px;
  left: 1411px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-3 {
  position: absolute;
  top: 218px;
  left: 1582px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-4 {
  position: absolute;
  top: 214px;
  left: 949px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-5 {
  position: absolute;
  top: 218px;
  left: 1175px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .line {
  position: absolute;
  top: 194px;
  left: 0;
  width: 2667px;
  height: 5px;
  object-fit: cover;
}

.trang-ng-nhp .rectangle {
  position: absolute;
  top: 418px;
  left: 158px;
  width: 338px;
  height: 148px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.trang-ng-nhp .text-wrapper-6 {
  position: absolute;
  top: 444px;
  left: 186px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ng-nhp .text-wrapper-7 {
  position: absolute;
  top: 489px;
  left: 188px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ng-nhp .text-wrapper-8 {
  top: 531px;
  left: 188px;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-9 {
  top: 424px;
  left: 1431px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-10 {
  top: 650px;
  left: 128px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .rectangle-2 {
  position: absolute;
  top: 485px;
  left: 1431px;
  width: 1025px;
  height: 487px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.trang-ng-nhp .rectangle-3 {
  position: absolute;
  top: 716px;
  left: 132px;
  width: 1027px;
  height: 454px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.trang-ng-nhp .text-wrapper-11 {
  position: absolute;
  top: 1040px;
  left: 533px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-12 {
  position: absolute;
  top: 1113px;
  left: 186px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .p {
  position: absolute;
  top: 521px;
  left: 1475px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-13 {
  position: absolute;
  top: 738px;
  left: 186px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-14 {
  position: absolute;
  top: 870px;
  left: 186px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0.96px;
  line-height: normal;
}

.trang-ng-nhp .rectangle-4 {
  position: absolute;
  top: 574px;
  left: 1475px;
  width: 893px;
  height: 76px;
  background-color: #f5f5f5;
  border: 1px solid;
  border-color: #000000;
}

.trang-ng-nhp .rectangle-5 {
  position: absolute;
  top: 286px;
  left: 131px;
  width: 2380px;
  height: 92px;
  background-color: #f5f5f5;
  border: 1px solid;
  border-color: #ffffff;
}

.trang-ng-nhp .rectangle-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2667px;
  height: 66px;
  background-color: #f5f5f5;
  border: 1px solid;
  border-color: #ffffff;
}

.trang-ng-nhp .rectangle-7 {
  position: absolute;
  top: 89px;
  left: 484px;
  width: 1852px;
  height: 89px;
  background-color: #f5f5f5;
  border: 1px solid;
}

.trang-ng-nhp .rectangle-8 {
  position: absolute;
  top: 790px;
  left: 186px;
  width: 878px;
  height: 74px;
  background-color: #f5f5f5;
  border: 1px solid;
  border-color: #000000;
}

.trang-ng-nhp .rectangle-9 {
  position: absolute;
  top: 1272px;
  left: 0;
  width: 2667px;
  height: 117px;
  background-color: #f5f5f5;
  border: 1px solid;
  border-color: #ffffff;
}

.trang-ng-nhp .rectangle-10 {
  position: absolute;
  top: 919px;
  left: 186px;
  width: 878px;
  height: 72px;
  background-color: #f5f5f5;
  border: 1px solid;
  border-color: #000000;
}

.trang-ng-nhp .text-wrapper-15 {
  position: absolute;
  top: 685px;
  left: 1475px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .th-ng-tin-c-nh-n-c-a {
  position: absolute;
  top: 738px;
  left: 1475px;
  width: 784px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .rectangle-11 {
  position: absolute;
  top: 864px;
  left: 1475px;
  width: 200px;
  height: 74px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.trang-ng-nhp .rectangle-12 {
  position: absolute;
  top: 1291px;
  left: 1420px;
  width: 200px;
  height: 83px;
  background-color: #000000;
  border: 1px solid;
  border-color: #ffffff;
}

.trang-ng-nhp .rectangle-13 {
  position: absolute;
  top: 1015px;
  left: 188px;
  width: 222px;
  height: 80px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.trang-ng-nhp .text-wrapper-16 {
  top: 880px;
  left: 1512px;
  color: #000000;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .rectangle-14 {
  position: absolute;
  top: 1042px;
  left: 471px;
  width: 25px;
  height: 27px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #000000;
}

.trang-ng-nhp .text-wrapper-17 {
  position: absolute;
  top: 1038px;
  left: 212px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-18 {
  position: absolute;
  top: 1318px;
  left: 369px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .rectangle-15 {
  position: absolute;
  top: 1299px;
  left: 796px;
  width: 619px;
  height: 55px;
  background-color: #ffffff;
}

.trang-ng-nhp .text-wrapper-19 {
  position: absolute;
  top: 1316px;
  left: 836px;
  opacity: 0.5;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trang-ng-nhp .text-wrapper-20 {
  top: 1315px;
  left: 1457px;
  color: #ffffff;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-21 {
  position: absolute;
  top: 1312px;
  left: 1911px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-22 {
  position: absolute;
  top: 1312px;
  left: 2207px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ee0f0f;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-23 {
  position: absolute;
  top: 1459px;
  left: 92px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-24 {
  top: 1543px;
  left: 101px;
  font-size: 24px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .element-th-i-h-ng-a-HN {
  top: 1599px;
  left: 103px;
  font-size: 24px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-25 {
  position: absolute;
  top: 1459px;
  left: 614px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .h-ng-d-n-mua-h-ng-h {
  position: absolute;
  top: 1535px;
  left: 630px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-26 {
  position: absolute;
  top: 1459px;
  left: 1343px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .c-NG-TY-c-PH-n-TH-i {
  position: absolute;
  top: 1539px;
  left: 1350px;
  width: 591px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-27 {
  position: absolute;
  top: 1467px;
  left: 2032px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .img {
  top: 1545px;
  left: 2052px;
  width: 459px;
  height: 171px;
  position: absolute;
  object-fit: cover;
}

.trang-ng-nhp .image-2 {
  top: 1721px;
  left: 2052px;
  width: 92px;
  height: 56px;
  position: absolute;
  object-fit: cover;
}

.trang-ng-nhp .element-boutique {
  top: 1725px;
  left: 2164px;
  font-size: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-28 {
  position: absolute;
  top: 116px;
  left: 567px;
  opacity: 0.5;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .text-wrapper-29 {
  position: absolute;
  top: 21px;
  left: 764px;
  opacity: 0.8;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .trang-ch-t-i-kho-n {
  position: absolute;
  top: 322px;
  left: 189px;
  opacity: 0.6;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.trang-ng-nhp .span {
  text-decoration: underline;
}

.trang-ng-nhp .text-wrapper-30 {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
}

.trang-ng-nhp .image-3 {
  top: 2072px;
  left: 1303px;
  width: 233px;
  height: 74px;
  position: absolute;
  object-fit: cover;
}

.trang-ng-nhp .image-4 {
  top: 102px;
  left: 2403px;
  width: 189px;
  height: 57px;
  position: absolute;
  object-fit: cover;
}

.trang-ng-nhp .image-5 {
  top: 1729px;
  left: 2374px;
  width: 144px;
  height: 47px;
  position: absolute;
  object-fit: cover;
}

.trang-ng-nhp .image-6 {
  top: 1311px;
  left: 289px;
  width: 44px;
  height: 40px;
  position: absolute;
  object-fit: cover;
}

.trang-ng-nhp .image-7 {
  top: 1312px;
  left: 1834px;
  width: 36px;
  height: 34px;
  position: absolute;
  object-fit: cover;
}
